body{background-color: #181818;}
.topnav {
    border-radius: 25px;
    height:100px;
    background-color: #333;
    overflow: hidden;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
#logo{width: 200px;
height: 90px;}
#navbar{position: relative;
left: 500px;
bottom:70px;
}
.searchbtn {
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color: #77b55a;
    border-radius: 26px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 16px;
    padding: 15px 34px;
    text-decoration: none;
}

.searchbtn:hover {
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color: #72b352;
}

.searchbtn:active {
    position: relative;
    top: 1px;
}
.searchbar{
   position: relative;
left: 500px;
}
.categories{
    border-radius: 25px;
    margin-top: 25px;
    background-color: #333;
    height:1000px;
    width: 200px;

}

.categories li{
    color: #04AA6D;
    margin-top: 20px;
}
.categories ul:first-child {
   position: relative;
   top:20px
}
.category li:hover{color:#ffffff;
cursor: pointer;}
#games{
float: left;

    border-radius: 25px;
    padding:30px;
    
    
width: 1050px;
height: fit-content;
position: relative;
left: 300px;
bottom: 1000px;
}
.game{
    color:  ;
   float: left;
    margin: 30px;
    border-radius: 25px;
    background-color: #333;
    position: relative;
   
    height: 400px;
    width: 425px;
}
.gamephoto{
    color: #04AA6D;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 20px;
    height:200px;
width: 400px;}
.gamecat{position: relative;
bottom: -25px;
left: 10px;
color: #04AA6D;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#price{
    text-align: center;
    width: 75px;
    background-color: #04AA6D;
    position: relative;
        bottom: 120px;
        left:150px;
       color: #333;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
