body {
    background-image: url('images/black and.jpg');
    background-size: 1550px;
}

.topnav {
    border-radius: 25px;
    height: 100px;
 
    overflow: hidden;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #af0535;
    color: white;
}

#logo {
    width: 200px;
    height: 90px;
}

#navbar {
    position: relative;
    left: 500px;
    bottom: 70px;
}

.searchbtn {
    background: linear-gradient(to bottom, #e22d60 5%, #af0535 100%);
    background-color: #e22d60;
    border-radius: 26px;
    border: 1px solid #af0535;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 16px;
    padding: 15px 34px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.searchbtn:hover {
    background: linear-gradient(to bottom, #af0535 5%, #e22d60 100%);
    background-color: #af0535;
}

.video {
    position: relative;
    top: 200px;

}

.searchbtn:active {
    position: relative;
    top: 1px;
}

.searchbar {
    position: relative;
    left: 500px;
}
#mainbody{
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 25px;
   
    position: relative;
   
    height: 1080px;
    width: 1470px;}game
.changedata{
    position: relative;
    left: 230px;
    margin: 20px;
    float: left;
    border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        height: 300px;
        width:1000px;
}
.changedata ,.game{
    background-color: #333;
}

#logout {
    background: rgb(51, 51, 51);

    background-color: #333;
    border-radius: 26px;
    border: 1px solid #181818;
    display: inline-block;
    cursor: pointer;
    color: rgb(236, 100, 3);
    font-family: Georgia;
    font-size: 16px;
    padding: 15px 34px;
    text-decoration: none;
    position: relative;
    left: 750px;

}
   #delete{background: rgb(51, 51, 51);
    background: radial-gradient(circle, #e22d60 0%, #af0535 100%);
    background-color: #333;
border-radius: 25px;
    border: 1px solid #181818;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 16px;
    padding: 15px 34px;
    text-decoration: none;
    position: relative;
top: 900px;
}
.userchan{
    
    margin-top: 30px;
    margin: 20px;
}
.button{background: rgb(51, 51, 51);
     background: radial-gradient(circle, rgba(51, 51, 51, 1) 0%, rgba(24, 24, 24, 1) 100%);
    background-color: #333;
    border-radius: 26px;
    border: 1px solid #181818;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 16px;
    padding: 15px 34px;
    text-decoration: none;}
    
        body {
            background-color: #181818;
        }
    
        .topnav {
            border-radius: 25px;
            height: 100px;
           
            overflow: hidden;
        }
    
    
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
    
        
    
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
    
                .active {
                    margin: 10px;
                    background: rgb(51, 51, 51);
        
                    background-color: #F4BE02;
                    border-radius: 26px;
                    border: 1px solid #181818;
                    display: inline-block;
                    cursor: pointer;
                    color: #ffffff;
                    font-family: Georgia;
                    font-size: 16px;
                    padding: 15px 34px;
                    text-decoration: none;
                    position: relative;
                    right: 250px;
                }
        .topnav a.active {
        margin: 10px;
            background: rgb(51, 51, 51);
        
            background-color: #F4BE02;
            border-radius: 26px;
            border: 1px solid #181818;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Georgia;
            font-size: 16px;
            padding: 15px 34px;
            text-decoration: none;
            position: relative;
            right: 250px;
        }
    
        #logo {
            width: 200px;
            height: 90px;
        }
    
        #navbar {
            position: relative;
            left: 500px;
            bottom: 70px;
        }
    
        .searchbtn {
            background: linear-gradient(to bottom, #e22d60 5%, #af0535 100%);
            background-color: #e22d60;
            border-radius: 26px;
            border: 1px solid #af0535;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Georgia;
            font-size: 16px;
            padding: 15px 34px;
            text-decoration: none;
        }
    
        a:hover {
            cursor: pointer;
        }
    
        .searchbtn:hover {
            background: linear-gradient(to bottom, #af0535 5%, #e22d60 100%);
            background-color: #af0535;
        }
    
        .video {
            position: relative;
            top: 200px;
    
        }
    
        .searchbtn:active {
            position: relative;
            top: 1px;
        }
    
        .searchbar {
            float: left;
            position: relative;
            left: 450px;
        }
    
        .categories {
            border-radius: 25px;
            margin-top: 25px;
            background-color: #333;
            height: 1000px;
            width: 200px;
    
        }
    
        .categories li {
            color: #af0535;
            margin-top: 20px;
        }
    
        .categories ul:first-child {
            position: relative;
            top: 20px
        }
    
        .category li:hover {
            color: #ffffff;
            cursor: pointer;
        }
    
        #games {
            float: left;
    
            border-radius: 25px;
            padding: 30px;
    
    
            width: 1050px;
            height: fit-content;
            position: relative;
            left: 300px;
            bottom: 1000px;
        }
    
        .game {
            float: left;
            margin: 30px;
            border-radius: 25px;
            
            position: relative;
    
            height: 400px;
            width: 425px;
        }
    
        #foot {
            width: 1200px;
            height: 100px;
        }
    
        .gamephoto {
            color: #af0535;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 20px;
            height: 200px;
            width: 400px;
        }
    h2{
        display:none;
    }
        .gamecat {
            text-align: left;
            position: relative;
            bottom: -25px;
            left: 10px;
            color: white;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
  h2{position: relative;
right: 1100px;
top:300px;
font-size: 50px;
font-family: 'Times New Roman', Times, serif;

}
        #price {
            text-align: center;
            width: 75px;
            background-color: #af0535;
            position: relative;
            bottom: 120px;
            left: 150px;
            color: #333;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }