.title{
	font-family: cursive;
	color: #e22d60;
}

.topbar{
	background-color: #181818;
	position: absolute;
	width: 100%;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 600px;
}

body{
	background-color: #333;
}

.logBox{
	border-radius: 10px;
	margin-top: 140px;
	width: 400px;
	height: 400px;
	background-color: darkgray;
	border-radius: 10%;
	border: solid black 4px;
}

.logInput{
	border-radius: 10px;
	margin-top: 5px;
	border-radius: 5%;
	background-color: #f7edff;
	width: 100px;
	height: 30px;
}

.emoji{
	
	font-size: 60px;
	border: solid black 2px;
	border-radius: 25%;
	width: 80px;
	height: 80px;
}

.signIn{
	margin-top: 30px;
	
}
#username,#password{
	padding: 6px;
	font-size: 16px;
	border-width: 3px;
	border-color: #cccccc;
	background-color: #ffffff;
	color: #e22d60;
	border-style: solid;
	border-radius: 19px;
	box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
	text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
}

#username,#password {
	outline: none;
}

button {
	background: linear-gradient(to bottom, #af0535 5%, #e22d60 100%);
	background-color: #af0535;
	border-radius: 26px;
	border: 1px solid #e22d60;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Georgia;
	font-size: 16px;
	padding: 15px 34px;
	text-decoration: none;
}

button:hover {
	background: linear-gradient(to bottom, #e22d60 5%, #af0535 100%);
	background-color: #e22d60;
}

button:active {
	position: relative;
	top: 1px;
}