

label{font-weight: bold;
	position: relative;
	right: 10px;
	font-size: 16px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border-radius: 10px;
	margin-top: 5px;
	border-radius: 5%;
	
	width: 100px;
	height: 30px;}
.topbar{
	
	position: absolute;
	width: 100%;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 600px;
}

body{
	background-image:url('images/modern-gold-background-free-vector.jpg');
	background-color: white;
	background-size: 1550px;
}

.logBox{
	border-radius: 10px;
	margin-top: 140px;
	width: 400px;
	height: 400px;
	background-color: white;
	border-radius: 10%;
	border: solid #173452 4px;
}

.logInput{
font-weight: bold;
	font-size: 16px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border-radius: 10px;
	margin-top: 5px;
	border-radius: 5%;
	background-color: #f7edff;
	width: 100px;
	height: 15px;
}

.emoji{
	
	font-size: 60px;
	
	border-radius: 25%;
	width: 80px;
	height: 80px;
}

.signIn{
	margin-top: 30px;
	
}
#username,#password{
	padding: 6px;
	font-size: 16px;
	border-width: 3px;
	border-color: #cccccc;
	background-color: #ffffff;
	color: #e22d60;
	border-style: solid;
	border-radius: 19px;
	border-color: #173452
}

#username,#password {
	outline: none;
}

button {
	
	background-color: #173452;
	border-radius: 26px;
	border: 1px solid #173452;
	display: inline-block;
	cursor: pointer;
	color: whitesmoke;
	font-weight: bold;
	font-family: Georgia;
	font-size: 16px;
	padding: 15px 34px;
	text-decoration: none;
}

button:hover {
	
	background-color: #afcfef;
}

button:active {
	position: relative;
	top: 1px;
}