body {
	background-color: #181818;
}

h1 {
	font-family: cursive;
	font-size: 50px;
	color: #04AA6D;
}

h2 {
	color: #04AA6D;
	margin-left: 20px;
	margin-top: 25px;
	font-family: cursive;
	font-size: 30px;
}

.title {
	position: relative;
	bottom: 90px;
	right: 150px;
	margin-top: 115px;
	margin-left: 250px;
}

.requirment {
	display: flex;
}

.gameimg {
	position: relative;


	margin-top: 20px;
	width: 525px;
	height: auto;
}



button {
	background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color: #77b55a;
	border-radius: 26px;
	border: 1px solid #4b8f29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Georgia;
	font-size: 16px;
	padding: 15px 34px;
	text-decoration: none;
}

button:hover {
	background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color: #72b352;
}

button:active {
	position: relative;
	top: 1px;
}


.infos {
	background-color: #333;
	position: absolute;
	width: 600px;
	height: 90%;
	right: 0px;
	left: 850px;
	top: 150px;
	bottom: 0px;
	border: solid black 2px;
	border-radius: 7%;
}

.buy {
	margin-left: 950px;
	margin-top: 20px;
	width: 160px;
	height: 80px;
}

.downbar {

	background-color: grey;
	position: absolute;
	width: 80%;
	height: 600px;
	right: 0px;
	left: 200px;
	top: 845px;
	bottom: 0px;
	border: solid black 2px;
	border-radius: 10px;
}

p {
	margin-left: 20px;
	font-size: medium;
}

h3 {
	margin-left: 20px;
	margin-top: 10px;
	font-family: cursive;
	font-size: 17px;
}