body{
	background-color: darkgray;
}

h1{
	font-family: cursive;
	font-size: 50px;
	color: #59005e;
}

h2{
	margin-left: 20px;
	margin-top: 25px;
	font-family: cursive;
	font-size: 37px;
}

.title{
	margin-top: 115px;
	margin-left: 250px;
}

.topbar{
	background-color: black;
	position: absolute;
	width: 100%;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 600px;
}

.gameimg{
	margin-top: 20px;
	width: 525px;
	height: auto;
}

button{
	color: black;
	background-color: #c400cf;
	border: solid black 2px;
	border-radius: 10%;
	width: 100px;
	height: auto;
	font-family: cursive;
	font-size: 20px;
}

.back {
	margin-left: 30px;
	background-color:#44c767;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.back:hover {
	background-color:#5cbf2a;
}
.back:active {
	position:relative;
	top:1px;
}


.infos{
	background-color: grey;
	position: absolute;
	width: 42%; 
	height: 90%;
	right: 0px;
	left: 850px;
	top: 150px;
	bottom: 0px;
	border: solid black 2px;
	border-radius: 7%;
}

.buy{
	margin-left: 950px;
	margin-top: 20px;
	width: 160px;
	height: 80px;
}

.downbar{
	background-color: grey;
	position: absolute;
	width: 80%;
	height: 200px;
	right: 0px;
	left: 200px;
	top: 845px;
	bottom: 0px;
	border: solid black 2px;
	border-radius: 1%;
}

h3{
	margin-left: 20px;
	margin-top: 10px;
	font-family: cursive;
	font-size: 17px;
}